@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    html {
        font-size: 110%;
    }
}
    
@media only screen and (min-width: 90em) {
    html {
        font-size: 120%;
    }
}
    
@media only screen and (min-width: 120em) {
    html {
        font-size: 130%;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a:focus {
    outline: 3px solid #000;
}

/*
a:link,
a:active {
    outline: none;
}

It is okay to get rid of the focus rectangle for mouse users, but NEVER for keyboard users */

img {
  display: block;
  width: 100%;
}

.colour {
    background-color: #0066CC;
    overflow: hidden;
}

 .colour2 {
    background-color: #66CCFF;
}

.colour3 {
    background-color: #0099FF;
}

.nav {
    list-style-type: none;
    text-decoration: none;
    padding: 0;   
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.title {
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: #fff;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;

  color: #66CCFF;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  background-color: #fff;

  color: #0099FF;
}

/* font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif; \

.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited
**/

.opener {
    text-align: center;
}

.center {
    text-align: center;
}

label {
    display: block;
}

input + label {
    display: inline-block;
}

input[type="text"] {
    padding: .75em;
    width: 100%;
}

input[type="email"] {
    padding: .75em;
    width: 100%;
}

input[type="number"] {
    padding: .75em;
    width: 100%;
}

button {
    font-size: 1.25em;
    padding: 0.25em; 
}

form {
    max-width: 45em;
    margin: 0 auto;
}

.writing-area {
    width: 100%;
    height: 20em;
}

.radio {
    white-space: nowrap;
}

@media only screen and (min-width: 25em) {
        
    .nav {
        text-align: center;
    }
    
    .nav li {
        display: inline-block;
    }
    
    .copyright {
        text-align: center;
    }
    
    .bottom-ul li::after {
        content: " ·";
    }
    
    .bottom-ul a {
        display: inline;
    }
    
    .bottom-ul :last-child::after {
        content: none;
    }
}

@media only screen and (min-width: 38em) {

    .nav {
        float: left;
        padding-top: 0;
    }
    
    .title {
        float: left;
        padding: 0;
    }
    
    .bottom-ul {
        float: right;
    }
    
    .copyright {
        text-align: left;
    } 
    
    .bottom-ul li::after {
        content: " ·";
    }
    
    .bottom-ul a {
        display: inline;
    }
    
    .bottom-ul :last-child::after {
        content: none;
    }
}

@media only screen and (min-width: 60em) {
    
    .bottom-ul {
        float: right;
    }
    
    .copyright {
        text-align: left;
    }
    
    dt {
        float: left;
        clear: left;
        width: 9rem;
    }

    dd { 
        float: left;
        margin: 0;
        padding: 0;
    }

    dl {
        overflow: hidden;
    }
    
    .bottom-ul li::after {
        content: " ·";
    }
    
    .bottom-ul a {
        display: inline;
    }
    
    .bottom-ul :last-child::after {
        content: none;
    }
}